/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */

/*****************************************
GENERAL SETTINGS
******************************************/

#tracker {
	display:none;
}

body {
	
	font-family: BebasReg, sans-serif;
	margin:auto;
}

@font-face {
    font-family: BebasReg;
    src: url(BebasNuReg.otf);
}


p {
	font-size: 200%;
	margin: 20px;
	text-align:center;
}

a {
	text-decoration:none;
	color:black;
}

#me {
	text-align:center;
}

li {
	/*SELECTS NAVIGATION WORDS*/
	list-style:none;
	margin: 5px 6px 7px 8px;
}


/**********************************
HEADING
***********************************/

#logo  {
	text-align: center;
	margin: 0;
}

header {
	background-color:#A1CAF1;
	border-bottom: dotted red;
	border-top: dotted red;	
}

img {
	border-radius: 2% 2%;
	border-style: solid;
	border-width: 5px;
	border-color: #A1CAF1;
}

h1 {
	font-size: 60px;
	margin: 15px 0;
	text-decoration: 
	
}

h2 {
	font-size: 45px;
	margin: -5px 0 0;
	
}

h3 {
	font-size: 300%;
	margin: 1% 0% 2% 0;
	color: white;
	background-color:#A1CAF1;
	border-radius: 10%;
	border: dotted red;	
	width: 20%;
	margin-left: auto;
    margin-right: auto;
	box-shadow: 10px 10px 5px #888888;
}


h4 {
	font-size: 300%;
	margin: 2% 0%;
	color: white;
	background-color:#A1CAF1;
	border-radius: 10%;
	border: dotted red;	
	width: 20%;
	margin-left: auto;
    margin-right: auto;
	box-shadow: 10px 10px 5px #888888;
}

/**********************************
NAVIGATION
***********************************/

li {
	display: inline;
}

/**********************************
SOCIAL ICONS
***********************************/
#socialicons {
	text-align: center;
	background-color:#A1CAF1;
	border-radius: 10%;
	width: 30%;
	margin-left:auto;
	margin-right:auto;
}

#lasticons {
	text-align: center;
	background-color:#A1CAF1;
	border-radius: 10%;
	width: 25%;
	margin-left:auto;
	margin-right:auto;
	border: dotted red;
}

.fa-4x { /*SOCIAL ICONS*/
	color: white;
	margin: 10px 10px;
	border-radius: 20%;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	box-shadow: inset 0 0 0 5px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
	/* Hack to improve aliasing on mobile/tablet devices */
}

.fa-4x:hover, .fa-4x:focus, .fa-4x:active {
	box-shadow: inset 0 0 0 4px #2098d1, 0 0 1px rgba(0, 0, 0, 0);
	/* Hack to improve aliasing on mobile/tablet devices */
}


/**********************************
FOOTER
***********************************/

#footer /*SELECTS FOOTER*/  { 
	text-align:center;
}

/*****************************************
PAGE: ABOUT ME
******************************************/
.aboutme {
	text-align:center;
}

/*****************************************
PAGE: CONTACT
******************************************/
#contactstuff a {
	color: black;
}

.info1 {
	display:inline;
}

.info1, .title {
	font-size: 250%;
	word-spacing: 5px;
}
/**********************************
COLORS
***********************************/

#logo  {
	color: white;
}

nav {
/*CONTROLS NAVIGATION AREA*/
	text-decoration:none;
	text-align:center; /*MUST HAVE BLOCK TO MAKE "INLINE"/"text-align" POSSIBLE*/
	font-size: 25px;
	text-decoration:none;
	padding: 10px 0;
	margin: 2%;
  }
  
nav a /*navigation text*/{
	color: white;
	text-decoration: none;
	border-style: solid;
    border-width: 2px;
    border-radius: 20%;
	box-shadow: 10px 10px 5px #888888;
	padding: 1%;
}

/*****************************************
INDEX.HTML - EFFECTS
******************************************/

/* Border Fade */
.hvr-border-fade {
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
	/* Hack to improve aliasing on mobile/tablet devices */
}

.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
	box-shadow: inset 0 0 0 4px #2098d1, 0 0 1px rgba(0, 0, 0, 0);
	/* Hack to improve aliasing on mobile/tablet devices */
}



	
/******************************************
NOTES:
>(notepad (image) to use for parallax technique
>adjust extra credit to mobile 
>feature badges from treehouse
>apply background video? : http://vodkabears.github.io/vide/
>30 minutes fake site/ 30 minutes adjust main site
>adjust mobile
>make image pop out
>links and photos(smaller) of portfolio
*******************************************/